@import "node_modules/bootstrap/scss/bootstrap-grid";

//Overwrite Bootstrap containers
.ma-container {
  	margin: 0 1rem;
  	position: relative;
    padding: 0;

		@include media-breakpoint-up(lg) {
				max-width: 90rem;
				margin: 0 2rem;
  	}

		@include media-breakpoint-up(xl) {
				margin: 0 auto;
  	}
}
