@import "node_modules/bootstrap/scss/bootstrap-grid";

//Overwrite Bootstrap containers
.ma-container {
	margin: 0 1rem;
	position: relative;
	// padding: 1rem;

	@include media-breakpoint-up(md) {
		margin: 0 2rem;
	}

	@include media-breakpoint-up(l) {
		// max-width: 90%;
	}

	@include media-breakpoint-up(xl) {
		width: calc(100% - 4rem);
		max-width: 1600px;
		margin: 0 auto;
	}

	.home & {
		max-width: 900px;
		margin: 0 auto;
	}
}
