.ma-artwork-page {
  img {
    max-width: calc(100% + 2rem);
    height: auto;

    margin-left: -1rem;
    margin-right: -1rem;

    @include media-breakpoint-up(md) {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

  .ma-artwork-page__figure-container {
    position: relative;
    max-height: 100vh;
  }

  .ma-artwork-page__figure {
    display: flex;
    flex-direction: column;
    max-height: 100vh;


  }

  .ma-artwork-page__figure__image-container {
    position: relative;

    img {
      display: block;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .ma-artwork-page__view-series-btn {
    appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    border: 1px solid rgba(#fff, 0.5);
    background-color: rgba(#666, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
  }