.ma-artist-page {
  
}

  .ma-artist-page__details {
    // background-color: #212121;
    width: 100%;


    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .ma-artist-page__portrait {
    z-index: 1;
    margin: 0 -1rem;
    position: relative;

    @include media-breakpoint-up(md) {
      margin: 0;
      width: calc(100% + 2rem);

      &:after {
        content: "";
        position: absolute;
        right: 0;
        margin: -20px;
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
        background-color: #fff;

        @include media-breakpoint-up(lg) {
          margin: -3rem;
          width: 6rem;
          height: 6rem;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      object-position: 50% 50%;

      @include media-breakpoint-up(md) {
        aspect-ratio: 5 / 3;
      }
    }


  }

  .ma-artist-page__text {
    position: relative;
    background: $card-bg;
    background: linear-gradient(225deg, transparent 2rem, $card-bg 2rem);
    color: $card-txt-color;
    margin: -3rem 0 1rem;
    padding: 1.5rem 1rem;
    z-index: 2;
    height: max-content;

    @include media-breakpoint-up(md) {
      margin: -5rem 2rem 1rem 2rem;
      padding: 2rem;
    }

    @include media-breakpoint-up(lg) {
      width: calc(50% - 4rem);
      margin: -10rem 2rem 1rem 3rem;
      padding: 2rem;
    }

    > * {
      margin-top: 0;
    }

    p {
      max-width: 65ch;
    }
  }

  .ma-artist-page__artworks {
    @include media-breakpoint-up(lg) {
      width: calc(50% - 4rem);
    }
  }

  .ma-artist-page__artwork {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;

    h3 {
      order: 2;
      margin: 0;
      padding: 1rem;
      background: $card-bg;

      a {
        color: inherit;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }

    img {
      order: 1;
      max-width: 100%;
      height: auto;
    }
  }
