.ma-artist-page {
  
}

  .ma-artist-page__details {
    // background-color: #212121;


    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .ma-artist-page__portrait {
    z-index: 1;
    margin: 0 -1rem;
    position: relative;
    flex-basis: 100%;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      margin: -20px;
      width: 40px;
      height: 40px;
      transform: rotate(45deg);
      background-color: #fff;

      @include media-breakpoint-up(lg) {
        margin: -3rem;
        width: 6rem;
        height: 6rem;
      }
    }
  }

  .ma-artist-page__bio {
    position: relative;
    max-width: 65ch;
    background: #212121;
    background: linear-gradient(225deg, transparent 2rem, #212121 2rem);
    color: #fff;
    margin: -3rem 1rem 1rem;
    padding: 1rem;
    z-index: 2;
    height: max-content;

    @include media-breakpoint-up(md) {
      flex-basis: 80%;
      margin: -5rem 2rem 1rem 2rem;
      padding: 2rem;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: 50%;
      margin: -10rem 2rem 1rem 3rem;
      padding: 2rem;
    }

    > * {
      margin-top: 0;
    }
  }

  .ma-artist-page__artworks {
    @include media-breakpoint-up(lg) {
      flex-basis: 40%;
    }
  }
