.ma-artists-list {
  
}

  .ma-artists-list__item {
    display: flex;
    background-color: #efefef;
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      aspect-ratio: 1.5 / 1;
    }

    @include media-breakpoint-up(md) {
      aspect-ratio: 3 / 1;
    }
  }

    .ma-artists-list__item__title {
      position: absolute;
      margin: 0;
      top: calc(100% / 3 * 2 + 1rem);
      left: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: 1.5rem;
      max-width: calc(100% - 150px - 2rem);
      z-index: 1;


      @include media-breakpoint-up(sm) {
        font-size: 2rem;
        top: calc(100% / 3 * 2 + 2rem);
      }
      
      @include media-breakpoint-up(md) {
        // top: calc(150px + 2rem);
        top: 1rem;
        bottom: auto;
        left: calc(50% + 1rem);
        max-width: none;
      }

      a {
        font-size: inherit;
        color: inherit;
      }
    }

    .ma-artists-list__item__featured-artwork {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      aspect-ratio: 3 / 2;
      border-bottom: 4px solid #fff;
      font-size: 0;

      @include media-breakpoint-up(sm) {
        aspect-ratio: 2 / 1;
      }

      @include media-breakpoint-up(md) {
        width: 50%;
        right: auto;
        aspect-ratio: 1.5 / 1;
      }

      img {
        width:100%; height:100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    .ma-artists-list__item__portrait {
      position: absolute;
      top: calc(100% / 3 * 2);
      transform: translateY(-50%);
      right: 1rem;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 4px solid #fff;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        top: calc(100% / 3 * 2 + 2rem);
      }

      @include media-breakpoint-up(md) {
        top: auto;
        bottom: 1rem;
        right: 1rem;
        left: auto;
        transform: translateY(0);
      }

      img {
        width:100%; 
        height:100%;
        object-fit: cover;
        object-position: center center;
      }
    }