/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */

/**
 * When `<dialog>` is properly supported, the overlay is implied and can be
 * styled with `::backdrop`, which means the DOM one should be removed.
 */
[data-a11y-dialog-native] .dialog-overlay {
  display: none;
}

/**
 * When `<dialog>` is not supported, its default display is `inline` which can
 * cause layout issues.
 */
dialog[open] {
  display: block;
}

.dialog[aria-hidden='true'] {
  display: none;
}

/* -------------------------------------------------------------------------- *\
 * Styling to make the dialog look like a dialog
 * -------------------------------------------------------------------------- */

.dialog:not([data-a11y-dialog-native]),
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
}

.dialog {
  display: flex;
}

.dialog-overlay {
  background-color: rgba(#fff, 1);
}

dialog::backdrop {
  background-color: rgba(#fff, 0.9);
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 2;
  position: relative;
  z-index: 999999;
}

dialog.dialog-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* -------------------------------------------------------------------------- *\
 * Extra dialog styling to make it shiny
 * -------------------------------------------------------------------------- */

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

.dialog-overlay {
  animation: fade-in 200ms both;
}

.dialog-content {
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
}

dialog.dialog-content {
  animation: fade-in 400ms 200ms both;
}

.dialog-content {
  padding: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 2px;
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.dialog-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 2em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
  z-index: 100;
}

@media screen and (min-width: 700px) {
  .dialog-close {
    top: 1rem;
    right: 1rem;
  }
}
